---
layout: default
---

<div class="home">
  <div id="main" class="call-out" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1> Gündelik Yazılar </h1>
  </div>
  <div class="posts">
    {% for post in site.categories.blog %}
    <div class="post-teaser">
      {% if post.thumbnail %}
      <div class="post-img">
         <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h1>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl | replace: '.html', '' }}">
                {{ post.title }}
              </a>
            </h1>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
            {{ post.content | strip_html | truncate: "250" }}
            <!--<a class="button" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>-->
          </div>
      </span>
    </div>
    {% endfor %}
  </div>
</div>
